body {
    background-color: #000000;
    margin: 0;
    color: #ffffff;
    font-family: Roboto;
}

.nav-mobile {
    background-color: #222222;
}

.nav-top, .nav-low {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    /* gap: 15% */
}

/* .logo {
    width: auto;
    height: auto;
}  */

.logo-img {
    /* width: auto; */
    max-width: 50%;
    height: auto;
}

.nav-top > div {
    /* width: 100%;
    height: 100%; */
    margin-top: 1%;
    /* margin-right: 1%; */
}

.inputSearch {
    display: flex;
    height: auto;
}

.inputSearch > input[type="text"] {
    background-color: #413e3e;
    color: white;
    height: 24px;
    text-align: center;
    border: 0;
    border-radius: 6px;
}

.search::placeholder {
    color: #ACAAAA;
}



  .inputSearch select {
    padding: 10px;
    border: none;
    background-color: #222222;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid white;
    border-right: none;
    height: 40px;
  }

  .inputSearch button {
    background: #ff681d;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    height: 40px;
  }

  img[alt="czat"], img[alt="powiadomienia"]{
    /* margin-right: 2%; */
  }

  .navIcons img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1); /* Białe ikony */
    cursor: pointer;
  }


  .kontrast {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .nav-low-1 img{
    width: 24px;
    height: 24px;
  }

main {
    margin-top: 1%;
    margin-left: 13.5%;
    margin-right: 13.5%;
}

.baner{
    
    background-color: #222222;
    height: auto;
    margin-bottom: 1%;
}

.baner img {
    width: 100%;
    height: auto;
}

.mainCat {
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.cat img {
    width: 100%;
    max-width: 100px;
    height: auto;
    max-height: 100px;
}

.mainCat div {
    width: auto;
    max-width: 100px;
    height: 110%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0%;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
}

.mainCat h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    font-size: 1vw;
}

.itemOffers {
    background-color: #FF5B03;
    height: auto;
    padding-bottom: 2%;
    
}

.offersBG {
    background-color: #222222;
    width: 95%;
    height: 90%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.offers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.lowerBaner img {
    width: 100%;
    height: auto;
}



.product1 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.smart_okazja {
    background-color: purple; 
    width: auto; 
    font-size: 3vw;
}

.offer_price_old {
    font-size: 90%; 
    text-align: right; 
    margin-left: auto; 
    margin-right: auto;
    font-size: 4vw;
}

.cena_z_30dni{
    width: 100%;
    margin-top: 5%; 
    margin-bottom: 10%;
    font-size: 14px;
    color: lightgrey;
}

.product1 > .allegro_smart_icon {
    margin-bottom: 4%;
}

.offer_name {

}

.pay_later {
    font-size: 70%;
}

.pay_later > img {
    
}

.delivery_time{
    font-size: 70%;
    color: lightgrey;
    text-decoration: solid;
}



.inspBaner {
    background-color: #222222;
    /* display: flex;
    justify-content: space-around;*/
    margin-top: 5%; 

    
}

.inspBaner img {
    width: 100%;
    height: auto;
}

.inspImg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5%;
}
















footer {
    margin-top: 1%;
    background-color: #222222;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer > div {
    margin-right: 1%;
}

h3{
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .baner {
        display: none;
    }
    .mainCat {
        display: none;
    }

    .allegro_offer_image {
        /* width: auto; */
        
    /* max-width: 30vw;  */
    height: auto;
    min-width: 80%;
    }

    main{
        margin-left: 0;
        margin-right: 0;
        margin-top: 5%;
    }

    .findInsp > h4, .findInsp > p{
        display: none;
    }

    .findInsp{
        text-align: center;
        padding-top: 5%;
       
    }

    .inspBaner {
        padding-left: 5%;
        padding-right: 5%;
    }

    .inspBaner img{
        width: 144px;
        height: 288px;
    }
}